= simple_form_for [:admin, @article] do |f|
  = f.input :title
  = f.input :type, :collection => ["audio", "video", "text"], :prompt => "Choose a type"
  = f.input :url, :disabled => true
  =# f.input :author
  = f.input :content, :as => :text
  =# f.input :categories, :as => :text, :hint => "Separate tags with commas"

.content-tags.admin-edit
  %label.string.optional.control-label.tags.pull-left{:for => "article_new_category"} Tags
  .form-pane
    %ul
      = render :partial => "shared/tags", :locals => { :article => @article }

    .tagform.clearfix
      = simple_form_for [:admin, @article], :remote => true, :wrapper_html => { :class => 'clearfix' } do |f|
        = f.input :new_category, :label => false, :placeholder => "Add another tag" ,:wrapper_html => { :class => 'pull-left tag-field' }
        = f.input :delete_category, :as => :hidden
        = f.button :submit, "Add Tag"
    .action-pane
      %a.btn.btn-primary.submit{:href => "#"} Save Changes
      = link_to raw("<i class=\"icon-trash icon-white\"></i> Delete Content"), [:admin, @article], :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger pull-right"
