%h2.pull-left.floated-admin-title= "Content (#{@articles.size})"
%div.pull-right
  .btn-group
    %button.btn Show All
    %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
      %span.caret
    %ul.dropdown-menu
      / dropdown menu links
%table.table.table-bordered.admin-table
  %thead
    %tr
      %th Name
      %th Type
      %th Contributed By
      %th Views
      %th Tags
  %tbody
  - @articles.each do |article|
    %tr
      %td= link_to(article['title'], article_path(article.id))
      %td= article['type']
      %td= article['authors'].first['name']
      %td= "n/a"
      %td
        - article['categories'].each do |category|
          = "#{category}#{unless category == article['categories'].last then ',' end}"
        = link_to "Edit", edit_admin_article_path(article.id), :class => "btn btn-mini pull-right"
.pagination
  %ul
    %li
      %a{:href => "#"} &larr;
    %li.active
      %a{:href => "#"} 1
    %li
      %a{:href => "#"} 2
    %li
      %a{:href => "#"} 3
    %li
      %a{:href => "#"} 4
    %li
      %a{:href => "#"} &rarr;