%h2.pull-left.floated-admin-title= "Content (#{@content_totals[:overall]})"
%div.pull-right
  .btn-group
    %button.btn Show All
    %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
      %span.caret
    %ul.dropdown-menu
      / dropdown menu links
%table.table.table-bordered.admin-table
  %thead
    %tr
      %th Name
      %th Type
      %th Contributed By
      %th Views
      %th Tags
  %tbody
  - @articles.each do |article|
    %tr
      %td= link_to(article['title'], article_path(article.id))
      %td= article['type']
      %td= article['authors'].first['name']
      %td= "n/a"
      %td
        - article['categories'].each do |category|
          = "#{category}#{unless category == article['categories'].last then ',' end}"
        %div.clearfix
          = link_to "Edit", edit_admin_article_path(article.id), :class => "btn btn-mini pull-right"
          = button_to "Delete", admin_article_path(article.id), :method => "delete", :class => "btn btn-mini pull-right"

%div.pagination
  = @next_article
  = link_to "Next &rarr;".html_safe, params.merge(:after_id => @next_article[:after_id], :after_key => @next_article[:after_key])
/= will_paginate @page_results, :renderer => BootstrapPagination::Rails
