.tags.clearfix
  %h4 
    = pluralize(@article['categories'].size, 'Tags').gsub(/^\d+\s/, "")
    = surround '(', ')' do
      = @article['categories'].size
  %ul
  - @article['categories'].each do |tag|
    %li.tag
      .tag-nub
      .tag-text= tag

= simple_form_for @article do |f|
  = f.input :new_category
  = f.input :delete_category, :as => :hidden
  = f.button :submit, "Update Tags"


