%nav.fixed-navigation
  = link_to root_path, :class => 'iosstyle' do
    %span
    Back to Results
  .right-fixed
    %span.desc
      View Source:
      %a{ :href => "#{@article['url']}" }
        = truncate(@article['url'].gsub("http://", ""), :length => 25)
%article.single{:class => @article['type']}
  .article-body
    %header
      %h1.article-title= @article['title']
      .meta.clearfix
        .meta-text.pull-left
          Contributed by
          = @article['contributors'].first['name']
          and
          = succeed ',' do
            %a{ :href => '#contributors' }= pluralize(@article['contributors'].size, 'other')
          = pluralize(@view_count, 'view')
        %a.meta-tag.pull-left{ :href => '#tags' }
          .tag-nub
          .tag-text= pluralize(@article['categories'].size, 'tag')
      = render @article['type']