.section-header
  = link_to sidebar_overview_path, :class => 'iosstyle fl ios-back', :remote => true do
    %span
    Back
  Find a Contributor
%section.pane.tag-nav
  - ("A".."Z").each do |letter|
    = link_to letter, root_path, :class => 'letter-link', :remote => true
  = link_to "Other", root_path, :class => 'letter-link other', :remote => true
.separator
  %span.pull-left
    SHOWING: CONTRIBUTORS,
    %span.description
    = surround "'", "'" do
      All
  %span.resultcount
    = surround "(", ")" do
      = pluralize(@authors.size, 'Result')
%section.pane.contributor-results
  %ol
    - @authors.each do |author|
      %li.no-count
        .avatar
        .name= author.name
        .counts= "#{author.contributions_count} contributions"