.section-header
  Top Contributors
  = link_to "View all", sidebar_tag_path, :remote => true, :class => 'btn btn-primary btn-small fr viewall'
%section.pane
  %ol
    - @authors.each do |author|
      %li
        .avatar
        .name= author.name
        .counts= "#{pluralize(author.contributions_by_type[:text], 'article')}, #{pluralize(author.contributions_by_type[:video], 'video')}, #{pluralize(author.contributions_by_type[:audio], 'image')}"
.section-header
  Popular Tags
  = link_to "View all", sidebar_tag_path, :remote => true, :class => 'btn btn-primary btn-small fr viewall'
%section.pane
  %ul
    - @categories.each do |category|
      %li.tag
        .tag-nub
        .tag-text= category.name