.section-header
  Top Contributors
  = link_to "View all", sidebar_tag_path, :remote => true, :class => 'btn btn-primary btn-small fr viewall'
%section.pane
  %ol
    - @authors.each do |author|
      %li
        .avatar
        .name= author.name
        .counts= "#{author.contributions_count} contributions"
.section-header
  Popular Tags
  = link_to "View all", sidebar_tag_path, :remote => true, :class => 'btn btn-primary btn-small fr viewall'
%section.pane
  %ul
    - @categories.each do |category|
      %li.tag
        .tag-nub
        .tag-text= category.name