.separator
  %span.pull-left
    SHOWING: CONTRIBUTORS,
    %span.description
    = surround "'", "'" do
      = @letter
  %span.resultcount
    = surround "(", ")" do
      = pluralize(@total, 'Result')

%section.pane
  .pull-left.paginator
    = will_paginate @authors, :renderer => BootstrapPagination::Rails, :inner_window => 0, :outer_window => 0
    = render :partial => "paginate"
  %ol
    - @authors.each do |author|
      %li.no-count
        = link_to author_path(:author => author.name) do
          %span.avatar
          %span.name= author.name
          %span.counts=# "#{pluralize(0, 'contribution')}"