.separator
  %span.pull-left
    SHOWING: CONTRIBUTORS,
    %span.description
    = surround "'", "'" do
      = @letter
  %span.resultcount
    = surround "(", ")" do
      = pluralize(@authors.size, 'Result')

%section.pane
  %ol
    - @authors.each do |author|
      %li.no-count
        .avatar
        .name= link_to(author.name, author_path(:id => author.name))
        .counts= "#{pluralize(author.contributions_by_type[:overall], 'contribution')}"