.separator
  %span.pull-left
    SHOWING: CONTRIBUTORS,
    %span.description
    = surround "'", "'" do
      = @letter
  %span.resultcount
    = surround "(", ")" do
      = pluralize(@authors.size, 'Result')

%section.pane
  %ol
    - @authors.each do |author|
      %li.no-count
        = link_to author_path(:id => author.name) do
          %span.avatar
          %span.name= author.name
          %span.counts=# "#{pluralize(0, 'contribution')}"