.contributor-view
  .article-body
    .icon
    .details.pull-left
      %h1.contributor-name= @author
      .meta
        Contributed
        = succeed "," do
          2 articles
          / = pluralize('article', 2)
        = succeed "," do
          1 video
          / = pluralize('video', 1)
        = succeed "," do
          1 image
          / = pluralize('image', 1)
        %br
        Last contributed on
        = "12/05/12"
%nav.fixed-navigation.single-contributor
  %span.title
    %strong
      SHOWING:
      = "#{@author}'s CONTENT"
      = "(#{@items.size} results)"
  .right-fixed.pull-right
    %span.desc Sort By:
    .btn-group.pull-right
      %button.btn User Preferences
      %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
        %span.caret
      %ul.dropdown-menu
        / dropdown menu links
%section.article-navigation.single-contributor
  - @items.each do |item|
    %article{:class => item['type']}
      .article-body
        %span.score
          = succeed "%" do
            = item['popularity']
        .icon
          .small-type{ :class => item['type'] }
            %i.icon-lp{ :class => "icon-lp-#{item['type']}" }
        %h1.article-title= link_to item['title'], article_path(:id => item.id)
        .meta
          Contributed by
          = item.contributors.first["name"]
          on
          = Time.parse(item.contributors.first['timestamp']).strftime('%B %d, %Y at %H:%M')
        %ul.tag-section
          = render :partial => "shared/tags", :locals => { :article => item }
          .clearfix