.contributor-view
  .article-body
    .icon
    .details.pull-left
      %h1.contributor-name= @author
      .meta
        Contributed
        = succeed "," do
          = pluralize(@author.contributions_by_type[:text], "article")
        = succeed "," do
          = pluralize(@author.contributions_by_type[:video], "video")
        = pluralize(@author.contributions_by_type[:image], "image")
        %br
        Last contributed on
        = "12/05/12"
%nav.fixed-navigation.single-contributor
  %span.title
    %strong
      SHOWING:
      = "#{@author}'s CONTENT"
      = "(#{@total} results)"
  .right-fixed.pull-right
    %span.desc Sort By:
    .btn-group.pull-right
      %button.btn User Preferences
      %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
        %span.caret
      %ul.dropdown-menu
        / dropdown menu links
= render :partial => "shared/articles"
= render :partial => "shared/loading_content"
= render :partial => "shared/scroll"