.separator
  %span.pull-left
    SHOWING: TAGS,
    %span.description
    = surround "'", "'" do
      = @letter
  %span.resultcount
    = surround "(", ")" do
      = pluralize(@categories.size, 'Result')

%section.pane
  %ul
    - @categories.each do |tag|
      %li.tag
        = link_to tag_path(:tag => tag.name) do
          .tag-nub
          .tag-text= tag.name