.tags.clearfix
  %h4
    = pluralize(@item['categories'].size, 'Tags').gsub(/^\d+\s/, "")
    = surround '(', ')' do
      = @item['categories'].size
  %ul
    = render :partial => "shared/tags", :locals => { :article => item }

= simple_form_for @article do |f|
  = f.input :new_category
  = f.button :submit, "Update Tags"