%nav.fixed-navigation
  = link_to root_path, :class => 'iosstyle' do
    %span
    Back to Results
  .right-fixed
    %span.desc
      View Source:
      %a{:href => "#{@item['url']}"}
        = truncate(@item['url'].gsub("http://", ""), :length => 25)
%article.single{:class => @item['type']}
  .article-body
    %header
      %h1= @item['title']
      .meta
        .meta-text.fl
          Contributed by
          = @item['contributors'].first['name']
          and
          = succeed ',' do
            = pluralize(@item['contributors'].size, 'other')
          76 views
        .meta-tag.fl
          .tag-nub
          .tag-text= pluralize(@item['categories'].size, 'tag')
      = render @item['type']