%nav.fixed-navigation
  = link_to root_path, :class => 'iosstyle' do
    %span
    Back to Results
  .right-fixed
    %span.desc
      View Source:
      %a{:href => "#{@item['url']}"}
        = truncate(@item['url'], :length => 30).gsub("http://", "")
%article.single{:class => @item['type']}
  .article-body
    %header
      %h1= @item['title']
      .meta
        Contributed by
        = @item['contributors'].first['name']
        and
        = succeed ',' do
          = pluralize(@item['contributors'].size, 'other')
        76 views
      = render @item['type']
