%nav.fixed-navigation
  %span.title
    %strong SHOWING: POPULAR CONTENT
    (412 results)
  .right-fixed
    %span.desc Sort By:
    .btn-group
      %button.btn Most Popular
      %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
        %span.caret
      %ul.dropdown-menu
        / dropdown menu links
%article.single{:class => @item['type']}
  .article-body
    %header
      %h1= @item['title']
      .meta
        Contributed by
        = @item['contributors'].first['name']
        and
        = succeed ',' do
          = pluralize(@item['contributors'].size, 'other')
        76 views
    %div= @content.html_safe
    %a.btn.btn-large.original-source{:href => @item['url']}
      View Original Source