%nav.fixed-navigation
  = link_to root_path, :class => 'iosstyle' do
    %span
    Back to Results
  .right-fixed

%article.single{:class => @item['type']}
  .article-body
    %header
      %h1= @item['title']
      .meta
        Contributed by
        = @item['contributors'].first['name']
        and
        = succeed ',' do
          = pluralize(@item['contributors'].size, 'other')
        76 views
    %div= @content.html_safe
    %a.btn.btn-large.original-source{:href => @item['url']}
      View Original Source