%nav.fixed-navigation
  = link_to root_path, :class => 'iosstyle' do
    %span
    Back to Results
  .right-fixed

%article.single{:class => @item['type']}
  .article-body
    %header
      %h1= @item['title']
      .meta
        Contributed by
        = @item['contributors'].first['name']
        and
        = succeed ',' do
          = pluralize(@item['contributors'].size, 'other')
        76 views
    %div= @content.html_safe
    .contributors
      %h4
        = pluralize(@item['contributors'].size, 'Contributor').gsub(/^\d+\s/, "")
        = surround '(', ')' do
          = @item['contributors'].size
      - @item['contributors'].each do |contributor|
        .media.contributor
          %a.img{:href => ""}
            %img{:alt => "", :src => ""}/
          .bd= contributor['name']