%h2.pull-left.floated-admin-title Snapshots (n/a)
= link_to "Login as a Random User", login_as_random_path, :class => 'btn btn-small btn-primary pull-right dashboard-button'
.btn.btn-small.btn-primary.pull-right.dashboard-button Trigger User Interaction
.btn.btn-small.btn-primary.pull-right.dashboard-button New Snapshot
%table.table.table-bordered.admin-table
  %thead
    %tr
      %th Period
      %th Article Views
      %th Video Views
      %th Image Views
      %th Total Views
  %tbody
    - 4.times do
      %tr
        %td 12/01/12, 6pm - 13/01/12, 6pm
        %td 121
        %td 322
        %td 131
        %td 574
%h2 Overall Statistics
%table.table.table-bordered.admin-table
  %thead
    %tr
      %th Content Type
      %th Number of Items
      %th Views
  %tbody
    %tr
      %td Articles
      %td= @content_totals[:text]
      %td 12,143
    %tr
      %td Videos
      %td= @content_totals[:video]
      %td 12,143
    %tr
      %td Images
      %td= @content_totals[:audio]
      %td 12,143
    %tr
      %td Total
      %td= @content_totals[:overall]
      %td 12,143
