%h2.pull-left.floated-admin-title= "Users (#{User.count})"
%div.pull-right
  .btn-group
    %button.btn Show All
    %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
      %span.caret
    %ul.dropdown-menu
      / dropdown menu links
%table.table.table-bordered.admin-table
  %thead
    %tr
      %th Name
      %th Articles
      %th Videos
      %th Images
      %th Last Logged In
      %th Items Accessed
  %tbody
  - @users.each do |user|
    %tr
      %td= user.email
      %td= 0
      %td= 0
      %td= 0
      %td= "#{time_ago_in_words(user.last_sign_in_at || user.created_at)} ago"
      %td= 0
=will_paginate @users