!!!
%html
  %head
    %title LearningPortal
    = stylesheet_link_tag    "admin", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to "Learning Portal Admin", admin_dashboard_path, :class => "brand"
          = render_navigation( :context => :admin )
    .container
      = display_flash
      = yield