!!!
%html
  %head
    %title LearningPortal
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.app
    = display_flash
    .container-fluid
      .row-fluid
        #sidebar
          #sidebar-inner
            %nav.header
              %h1= link_to "LOGO", root_path
              - if current_user
                .btn-group.pull-right.sign-in-as
                  %a.btn.dropdown-toggle.btn-inverse{"data-toggle" => "dropdown", :href => "#"}
                    You
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      %strong Switch User
                    - @users.each do |user|
                      - unless user == current_user
                        %li
                          = link_to "#{user.email}", login_as_path(user.id)
                    %li.divider
                    %li= link_to "Logout", destroy_user_session_path, :method => :delete
              %ul.pull-right
                - if !current_user
                  %li
                    = link_to "Sign in", new_user_session_path
                  %li
                    = link_to "Sign up", new_user_registration_path
                - if current_user
                  %li
                    = link_to "Admin", admin_root_path
                  %li
                    = link_to "Edit Account", edit_user_registration_path
            .tagline
              %h2 Discover content with the Learning Portal
            %ul.tabbed-nav
              %li{ :class => active?("all")}
                %a{"data-tonggle" => "tab", :href => root_path }
                  %span.number
                    = @content_totals[:overall]
                  %span.text All Content
              %li{ :class => active?("articles")}
                %a{"data-tonggle" => "tab", :href => articles_path("articles")}
                  %span.number
                    = @content_totals[:text]
                  %i.icon-align-justify.icon-white
                  %span.text Articles
              %li{ :class => active?("videos")}
                %a{"data-tonggle" => "tab", :href => articles_path("videos")}
                  %span.number
                    = @content_totals[:video]
                  %i.icon-play.icon-white
                  %span.text Videos
              %li{ :class => active?("images")}
                %a{"data-tonggle" => "tab", :href => articles_path("images")}
                  %span.number
                    = @content_totals[:audio]
                  %i.icon-picture.icon-white
                  %span.text Images
            .tab-content
              #allcontent.tab-pane= render "sidebar/sidebar_search"
              #articles.tab-pane= render "sidebar/sidebar_search"
              #videos.tab-pane= render "sidebar/sidebar_search"
              #images.tab-pane= render "sidebar/sidebar_search"
            #sidebar-content.pull-left
              = render "sidebar/overview"
        #content
          = yield