!!!
%html
  %head
    %title LearningPortal
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container-fluid
      .row-fluid
        #sidebar
          #sidebar-inner
            %nav.header
              %h1= link_to "LOGO", root_path
              %ul
                - if !current_user
                  %li
                    = link_to "Sign in", new_user_session_path
                  %li
                    = link_to "Sign up", new_user_registration_path
                - if current_user
                  %li
                    %a Admin
                  %li
                    = link_to current_user.email, edit_user_registration_path
                  %li
                    = link_to "logout", destroy_user_session_path, :method => :delete
            .tagline
              %h2 Discover content with the Learning Portal
            %ul.tabbed-nav
              %li
                %a{"data-toggle" => "tab", :href => "#allcontent"}
                  %span.number 29,391
                  %span.text All Content
              %li
                %a{"data-toggle" => "tab", :href => "#articles"}
                  %span.number 18,451
                  %i.icon-align-justify.icon-white
                  %span.text Articles
              %li
                %a{"data-toggle" => "tab", :href => "#videos"}
                  %span.number 6,983
                  %i.icon-play.icon-white
                  %span.text Videos
              %li
                %a{"data-toggle" => "tab", :href => "#images"}
                  %span.number 3,957
                  %i.icon-picture.icon-white
                  %span.text Images
            .tab-content
              #allcontent.tab-pane= render "sidebar/sidebar_search"
              #articles.tab-pane= render "sidebar/sidebar_search"
              #videos.tab-pane= render "sidebar/sidebar_search"
              #images.tab-pane= render "sidebar/sidebar_search"
            #sidebar-content.pull-left
              = render "sidebar/overview"
        #content
          = yield